<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

        </script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style1.css">
        <link rel="stylesheet" href="/static/css/d3Style.css">




        <title>FOMC Transcripts Analysis</title>
    </head>

    <body>
        <!-- Navigation Section -->
        <div class="navigation">
            <nav class="navbar navbar-expand-lg">
                <img id="jayhawk-icon" src="/static/images/ku_jayhawk.png" alt="Jayhawk icon">
                <a class="navbar-brand" href="/">FOMC Transcripts Analysis </a>
                <button class="navbar-toggler  border border-white" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Machine Learning
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/webscrapping" target="_blank">Web Scrapping by beautiful
                                    soup
                                </a>
                                <a class="dropdown-item" href="/wordcount" target="_blank">Word Count by pyspark
                                </a>
                                <a class="dropdown-item" href="/textblob" target="_blank">Word Cloud by textblob
                                </a>
                                <a class="dropdown-item" href="/tweepy_sentiment" target="_blank">Tweepy Sentiment
                                    Analysis</a>
                                <a class="dropdown-item" href="/tweepy_worldcloud" target="_blank">Tweepy Wordcloud
                                    Analysis</a>
                                <a class="dropdown-item" href="/forecasting" target="_blank">Forecasting</a>
                            </div>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Information
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"
                                    href="https://en.m.wikipedia.org/wiki/Great_Recession_in_the_United_States"
                                    target="_blank">Last Recession</a>
                                <a class="dropdown-item"
                                    href="https://www.federalreserve.gov/monetarypolicy/fomc_historical_year.htm"
                                    target="_blank">FOMC Transcripts
                                </a>
                            </div>

                    </ul>
                </div>
            </nav>
        </div>

        <!-- <div class="resizeMessage"></div>
        <div class="christmasLights"></div> -->

        <!-- Content Section -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <!-- Left box  -->
                    <div class="box">
                        <h3 class="title">Inflation/Interest/Recession/Unemployment</h3>


                        <p>The <font size="3" color="blue"><strong>Federal Open Market Committee (FOMC)</strong></font>
                            is the branch of the Federal Reserve Board that
                            determines the direction of monetary policy. The FOMC is composed of 12 members--the seven
                            members of the <font size="3" color="blue"><strong>Board of Governors</strong></font> and
                            five of the <font size="3" color="blue"><strong>12 Reserve Bank</strong></font> presidents.
                            The FOMC schedules <font size="3" color="blue"><strong>eight meetings</strong></font> per
                            year, one about every six weeks or so.
                        </p>
                        <p>
                            The primary job of the Federal Reserve is to control <font size="3" color="red">
                                <strong>inflation</strong></font> while avoiding a <font size="3" color="red">
                                <strong>recession</strong></font>. It lowers <font size="3" color="red"><strong>interest
                                    rates</strong></font> to spur
                            economic growth and reduce <font size="3" color="red">
                                <strong>unemployment</strong></font>. FOMC members who favor this approach are called
                            dovish. If the economy grows too fast, then prices rise, causing inflation.
                        </p>
                        <p>
                            As inflation increases, the value of money decreases and the
                            Federal Reserve counters by
                            increasing the interest rates. During times when job growth is low and the economy is
                            stagnant, the Federal Reserve lowers the interest rates to spureconomic growth.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <!-- Right Box -->
                    <div class="box">
                        <h5 class="title">Machine Learning & Visualizations</h5>
                        <hr>
                        <strong><i>Web Scrapping by beautiful soup</i></strong>
                        <a href="/webscrapping" target="_blank">
                            <img class="panel" src="/static/images/webscrapping.PNG" alt="webscrapping">
                        </a>
                        <strong><i>Word Counts by pyspark & Tokenization by ntlk</i></strong>
                        <a href="/wordcount" target="_blank">
                            <img class="panel" src="/static/images/wordcount.PNG" alt="wordcount">
                        </a>
                        <strong><i>Sentiment Analysis by tweepy & textblob</i></strong>
                        <a href="/sentiment" target="_blank">
                            <img class="panel" src="/static/images/tweepy_sentiment.PNG" alt="tweepy_sentiment">
                        </a>
                        <strong><i>Bigram and Wordclound by tweepy, textblob, & nltk</i></strong>
                        <a href="/bigram" target="_blank">
                            <img class="panel" src="/static/images/textblob.PNG" alt="textblob">
                        </a>
                        <strong><i>Forecasting by sklearn linear_model</i></strong>
                        <a href="/forecasting" target="_blank">
                            <img class="panel" src="/static/images/forecasting.PNG" alt="forecasting">
                        </a>
                    </div>
                </div>
            </div>


        </div>
        </div>
        </div>
        </div>
        <!-- Footer Section -->
        <footer>
            <div class="footer"></div>
        </footer>

    </body>

</html>